// Styling for the services section
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
    margin: 40px auto 0;
  }
  p {
    margin-bottom: 0;
    padding: 5px 0px;
    font-weight: 300;
  }
  i {
    margin-bottom: 25px;
  }
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
}
